.header {
    display: flex;
    -webkit-align-items: center;
    background: url("../Assets/header-background.png");
    background-position-y: -238px;
    height: 130px;
    padding: 10px 30px 10px 30px;
}

.header-main {
    display: flex;
    flex: 2;
}

.header-stats {
    display: flex;
    flex: 1;
}

.header-tracker {
    display: flex;
}

.header-characterName {
    font-size: 28px;
    color: #fff;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    line-height: 1.1;
    text-align: left;
}

.header-raceClassLevel {
    font-size: 12px;
    color: #979aa4;
    text-align: left;
}


.header-stat {
    margin-right: 20px;
}

.header-stat-category {
    font-size: 7px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    height: 9px;
    color: #96bf6b;
    text-transform: uppercase;
    text-align: center;
}

.header-stat-value-value {
    font-size: 26px;
    text-align: center;
    color: #fff;
    width: auto;
}

.header-stat-value-mod,
.header-stat-value-postText {
    text-align: center;
    color: #979aa4;
    vertical-align: super;
    font-size: 9px;
    font-weight: normal;
}

.header-stat-description {
    font-size: 10px;
    max-width: 65px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.header-healthTracker {
    position: relative;
    border: 1px solid #96bf6b;
    border-radius: 3px;
    text-align: center;
    font-family: Roboto,Helvetica,sans-serif;
}

.header-healthTracker-tracker {
    display: flex;
    -webkit-align-items: center;
}

.header-healthTracker-label {
    font-size: 10px;
    text-align: center;
    font-family: Roboto,Helvetica,sans-serif;
    color: #fff;
}

.header-increase-icon {
    display: inline-block;
    border-radius: 3px;
    background-color: #96bf6b;
    color: #fff;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    font-size: 10px;
    border: 1px solid transparent;
    text-transform: uppercase;
    height: 20px;
    width: 27px;
}

.header-increase-icon.redButton{
    background-color: darkred;
    margin-left: 10px;
}
  
.header-increase-icon::before {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background-image: url("../Assets/plus_minus-white.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.header-decrease-icon {
    display: inline-block;
    border-radius: 3px;
    background-color: #96bf6b;
    color: #fff;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    font-size: 10px;
    border: 1px solid transparent;
    text-transform: uppercase;
    height: 20px;
    width: 27px;
}
  
.header-decrease-icon.redButton{
    background-color: darkred;
    margin-right: 10px;
}

.header-decrease-icon::before {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background-image: url("../Assets/plus_minus-white.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -17px 0;
}

.header-healthTracker {
    padding: 5px 20px 5px 20px;

}

.header-healthTracker-health {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    font-family: Roboto,Helvetica,sans-serif;
    color: #fff;
    padding: 0 10px 0 10px;
}

.header-inspirationTracker {
    background-color: rgba(0,0,0,0.6);
    border-color: #96bf6b;
    border-radius: 3px;
    color: #fff;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    border: 1px solid #96bf6b;
    text-transform: uppercase;
    width: 100%;
    display: block;
    font-size: 8px;
    padding: 5px;
    margin-top: 5px;
}