.dashboard-panel {
    /* margin: 0 7px 0 7px; */
}

.attacks-perAction {
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    font-size: 13px;
    text-align: left;
    padding-top: 10px;
    margin-left: 20px;
}

.rest-buttons {
    display: flex;
}

.shortRest, 
.longRest {
    border-radius: 3px;
    background-color: #96bf6b;
    color: #fff;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    font-size: 10px;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 9px 15px;
    transition: all 50ms;
    flex: 1;
    margin: 5px;
}


.addItem-row {
    display: flex;
    padding: 10px;
    align-items: center;
}

.input-label {
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: Roboto,Helvetica,sans-serif;
    line-height: 1.1;
    flex: 1;
    align-items: center;
}

.input {
    display: block;
    text-align: left;
    flex: 1;
}

.shortRest.blue {
    background-color: #021638;
}

.submit {
    display: block;
    text-align: left;
    flex: 1;
}
