
  .ability {
    width: 100%;
  }
  
  .ability-exp {
    font-size: 16px;
    font-weight: normal;
  }
  
  .ability-name {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
  }
  
  .ability-mod-label-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 6px;
  }
  
  .ability-mod {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .ability-save-label-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 6px;
  }
  
  .ability-save {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .ability-proficiency-indicator {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background-color: #96bf6b;
    border-radius: 50%;
  }
  
  .ability-cell {
    border-bottom: 1px solid #edeae8;
    padding: 8px 2px;
    vertical-align: middle;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
  }


.ability-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px;
  }
  
.ability-icon.strength {
    background: center center transparent url("../../../Assets/strength.svg") no-repeat;
}
  
.ability-icon.dexterity {
    background: center center transparent url("../../../Assets/dexterity.svg") no-repeat;
}
  
.ability-icon.constitution {
  background: center center transparent url("../../../Assets/constitution.svg") no-repeat;
}

.ability-icon.intelligence {
  background: center center transparent url("../../../Assets/intelligence.svg") no-repeat;
}

.ability-icon.wisdom {
  background: center center transparent url("../../../Assets/wisdom.svg") no-repeat;
}

.ability-icon.charisma {
  background: center center transparent url("../../../Assets/charisma.svg") no-repeat;
}