.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#grid-prototype .rmmGrid-headerRow,
#grid-prototype .rmmGrid-filterRow,
#grid-prototype .rmmGrid-dataRow  {
  grid-template-columns: 200px 200px 200px 200px;
}

#grid-prototype {
  min-width: 1200px;
}