.App-main-link-button {
  -webkit-font-smoothing: antialiased;
  width: 180px;
  padding: 0.4em 0.2em;
  background: #009ed8;
  border: none;
  color: black;
  font-family: "AntipastoPro-Hairline";
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
