.errorMessage {
  color: red;
}

.inputWithValidation {
  margin-top: 20px;
  width: 300px;
}

.errorRow {
  color: red;
  text-align: left;
  margin-left: 85px;
  margin-bottom: 10px;
}

.inputRow {
  display: flex;
  align-items: center;
}

.p-label, .p-input, .p-error {
  flex: 1;
}