.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: "evilGenius";
  src: url("./Assets/evilgeniusbb_reg.ttf");
}

@font-face {
  font-family: "AntipastoPro-Hairline";
  src: url("./Assets/AntipastoPro-Hairline.ttf");
}

body {
  /* background-image: url('./Assets/background.jpg'); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
}

.App {
  height: 100%;
}

.header {
  color: white;
  font-family: "AntipastoPro-Hairline";
  letter-spacing: 5px;
  font-size: 4em;
  margin-top: 30px;
}

.logo {
  width: 340px;
  height: 450px;
  background-image: url('./Assets/Shinigami.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  flex:1;
  align-items: center;
  /* font-family: "evilGenius"; */
  font-family: "AntipastoPro-Hairline";
  font-size: 2em;
  /* background: linear-gradient(-90deg, #4BB9CD 0%, #0777A6 100%); */
  color: #4BB9CD;
  background: linear-gradient(-90deg, red, green);
}

.title-part {
  display: inline-block;
  letter-spacing: 5px;
}

.title-part::first-letter {
  font-size: 50px;
} 

.subtext {
  color: white;
  font-family: "AntipastoPro-Hairline";
  letter-spacing: 5px;
  font-size: 18px;
  margin-top: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

.name {
  color: white;
  font-family: "AntipastoPro-Hairline";
  letter-spacing: 5px;
  font-size: 22px;
  margin-top: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

.links {
  display: block;
  margin-top: 20px;
}

.link {
  display: inline-block;
  width: 200px;
}

.link-button {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  width: 180px;
  position: relative;
  padding: .4em .2em;
  background: #009ED8;
  border: none;
  color: black;
  transition: .2s;
  font-family: "AntipastoPro-Hairline";
  font-size: 20px;
  font-weight: bold;
}

.link-button::before {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: .2s;
    transform-origin: 50% 60%;
}

.link-button::after {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 1em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: .2s;
    transform-origin: 50% 60%;
}

.link-description {
  display: inline-block;
  margin: 0 10px 0 10px;
  font-family: "AntipastoPro-Hairline";
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  margin-top: 10px;
  line-height: 1.1;
}