@font-face {
  font-family: "evilGenius";
  src: url("./Assets/evilgeniusbb_reg.ttf");
}

@font-face {
  font-family: "AntipastoPro-Hairline";
  src: url("./Assets/AntipastoPro-Hairline.ttf");
}

/* Fix this up */
html,
body, 
#root,
.App {
  height: 100%;
}